---
const pageTitle = "BDA - Home";
import Navbar from "../components/Navbar.astro";
import Meetus from "../components/team.astro";
---

<!--
Home page of my website presenting the "BDA" student association.
This website is supposed to show the different events and activities organized by the association.
-->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="src/Images/logo_panda.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navbar />
		<Meetus />
	</body>
</html>

<style>
                            
</style>


